body {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: Georgia;
  font-size: 17px;
}

/*----- Navigation Bar -----*/

#navbar {
  top: 0px;
  position: fixed;
  display: flex;
  height: 75px;
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-weight: bold;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

#navbar nav {
  margin-right: 30px;
}

#navbar .logo {
  align-items: center;
  display: flex;
  margin-left: 30px;
}

#navbar p {
  color: MediumAquamarine;
  display: inline;
  margin-left: 10px;
}

#navbar nav {
  margin-right: 30px;
}

#navbar a {
  color: black;
  font-weight: bold;
  margin: 0 10px;
}

/*----- Body Content -----*/


/*----- Footer -----*/
